<div class="page__main">
    <div class="two-columns">
        <div class="page__content">

            <div class="page__main-content">
                {% placeholder content %}
            </div>

            <div class="page__sidebarup">
                {% placeholder sidebarup %}
            </div>

            <div class="page__sidebardown">
                {% placeholder sidebardown %}
            </div>

            <div class="page__advertisment sidebar-sticky-top">
                {% partial 'layout/advertisment-sidebar' %}
            </div>

        </div>
    </div>
</div>