<div class="page__main">
    <div class="two-columns">
        <div class="page__content">
        
            <div class="page__main-content">
                {% placeholder content %}
            </div>

            <div class="page__sidebar">
                {% placeholder sidebarup %}
            </div>

            <div class="page__add-sidebar">
                {% placeholder sidebardown %}
            </div>

            <div class="page__advertisment sidebar-sticky-top">
                {% partial 'layout/advertisment-sidebar' %}
            </div>

        </div>
    </div>
</div>