@font-face {
	font-family: "iconfont";
	src: url("iconfont.eot?434e06bda5626b134bd766b27ebffb5a?#iefix") format("embedded-opentype"),
url("iconfont.woff2?434e06bda5626b134bd766b27ebffb5a") format("woff2"),
url("iconfont.woff?434e06bda5626b134bd766b27ebffb5a") format("woff"),
url("iconfont.ttf?434e06bda5626b134bd766b27ebffb5a") format("truetype"),
url("iconfont.svg?434e06bda5626b134bd766b27ebffb5a#iconfont") format("svg");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-book:before {
	content: "\f101";
}
.icon-burger:before {
	content: "\f102";
}
.icon-comic:before {
	content: "\f103";
}
.icon-company:before {
	content: "\f104";
}
.icon-dropdown:before {
	content: "\f105";
}
.icon-game:before {
	content: "\f106";
}
.icon-in_progress:before {
	content: "\f107";
}
.icon-info:before {
	content: "\f108";
}
.icon-news:before {
	content: "\f109";
}
.icon-person:before {
	content: "\f10a";
}
.icon-persons:before {
	content: "\f10b";
}
.icon-tvseries:before {
	content: "\f10c";
}
.icon-universe:before {
	content: "\f10d";
}
.icon-video:before {
	content: "\f10e";
}
.icon-videogame:before {
	content: "\f10f";
}
